<html>
    <head>
    <title> mustache </title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
    <h3>Index</h3>
        <div class='robots'>
            {{#users}}
            <div class='inside-robots'>
            <image src="{{avatar}}"> 
            <a href= "{{id}}"> {{name}} </a>
            {{#job}}
            <div class='job'> {{job}} </div>
            {{/job}}
            {{^job}}
            <div class='nojob'> availible for hire</div>
            {{/job}}
            <div class='company'>{{company}} </div>
            </div> 
             {{/users}}
            </div>

    </body>
</html>